{% extends 'layout/base.html.twig' %}

{% block title %}
Expériences
{% endblock %}

{% block body %}
    <h1>Mes expériences professionelles</h1>


        {% for formation in formations %}
            <div class="formation">
                <p> {{ formation.name }} </p>
                <p> {{ formation.start|date('d.m.Y') }} - {{ formation.end|date('d.m.Y') }} </p>
                <p> {{ formation.description }} </p>
            </div>

        {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('formation_new') }}">Create new</a>
    {% endif %}
{% endblock %}
