<div class="menu">
    <div class="logo">
        <a href="{{ path('home') }}">
            <img src="{{ asset('build/images/me.jpg') }}" alt="Just my face">
        </a>
    </div>

    <nav>
        <ul>
            <li>
                <a href="/">A propos</a>
            </li>
            <li>
                <a href="{{ path('skills_index') }}">Compétences</a>
            </li>
            <li>
                <a href="{{ path('formation_index') }}">Formation</a>
            </li>
            <li>
                <a href="{{ path('project_index') }}">Portfolio</a>
            </li>
            <li>
                <a href="{{ path('contact_new') }}">Contact</a>
            </li>
        </ul>
    </nav>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_logout') }}"> Bye bye ! </a>
    {% endif %}
</div>
